h1 {
    color: #000;
    font-size: 3rem;
    background-color: #ffcc00;
    width: fit-content;
    padding: 1rem;

    @media (width <=800px) {
        font-size: 2rem;
    }
}

p {
    font-size: 20px;
    line-height: 1.6;
    // background-color: #ffcc0023;
    width: fit-content;
    padding: 1rem;

    @media (width <=800px) {
        font-size: 18px;
    }

    span {
        color: #ffcc00;
        font-weight: bold;
    }
}