@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

@font-face {
    font-family: 'Hacked';
    src: url('./assets/font/hacked.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}